$def with (contacto)

<h2>Borrar Contacto</h2>

<form method = "POST">

    <br><label for="id_contacto">ID Contacto</label>
    <input type="text" id="id_contacto" name="id_contacto" value="$contacto['id_contacto']" readonly>

    <br><label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" value="$contacto['nombre']" readonly>

    <br><label for="primer_apellido">Primer apellido</label>
    <input type="text" id="primer_apellido" name="primer_apellido" value="$contacto['primer_apellido']" readonly>

    <br><label for="segundo_apellido">Segundo apellido</label>
    <input type="text" id="segundo_apellido" name="segundo_apellido" value="$contacto['segundo_apellido']" readonly>

    <br><label for="email">Email</label>
    <input type="text" id="email" name="email" value="$contacto['email']" readonly>

    <br><label for="telefono">Telefono</label>
    <input type="text" id="telefono" name="telefono" value="$contacto['telefono']" readonly>

    <br><a href="/lista_contacto"><button type="button">Regresar</button></a>
    <button name="borrar" value="borrar">Borrar</button>

</form>